<div class="home-container">
  <h1>Welcome to the CommentHub!</h1>
  <p>We are glad to see you here! Check out our features and share your thoughts with other users..</p>

  <div *ngIf="user; else guest">
    <h2>Hello, {{ user.username }}!</h2>
    <p>Welcome back to our app.</p>
    <button (click)="createNewComment()">Create New Comment</button>
  </div>

  <ng-template #guest>
    <h2 class="guest-user">Guest User</h2>
    <p>You can also share your thoughts as a guest. No need to log in!</p>
    <button class="guest-comment-btn" (click)="createNewComment()">Create new comment as Guest</button>
    <p>Want to save your comments and interact with others? <a routerLink="/register">Register</a> or <a routerLink="/login">Log in</a>!</p>
    <p>See all comments <a routerLink="/comments">here</a>.</p>
    <button routerLink="/new-comment">Create New Comment</button>
  </ng-template>
</div>
